body {
  font-family: system-ui;
  background-color: black;
  color: yellow;
  bold-color: red;
  text-align: left;
}
h1{
  color: red;
  text-align: center;
}
h3{
  color: cyan;
  text-align: center;
}
.music{
  color: aqua;
  font-family:Brush Script MT;
  font-size:20px;
  text-shadow: 1.5px .7px;
  
}
#places{
  color:red;
}
#mayer{
  color: coral;
  font-family: verdana;
}
